.site-info {
  &.widget-container {
    padding-top: 0.5em;
  }
  .links {
    a.badge-wrapper {
      color: #222;
    }
    .badge-category-bg {
      background-color: #0088CC;
    }
  }
  .text-block,
  .copyright {
    font-size: 0.75em;
    color: #919191;
  }
}
